.adopciones {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.adopciones h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #4a0080;
}

.filtros {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.filtros button {
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  border: 2px solid #4a0080;
  background: white;
  color: pin;
  cursor: pointer;
  transition: all 0.3s;
}

.filtros button.active {
  background: #4a0080;
  color: white;
}

.filtros button:hover {
  background: #4a0080;
  color: white;
}

.animales-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

.animal-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(74, 0, 128, 0.1);
  transition: transform 0.3s;
  border: 1px solid #f0d0ff;
}

.animal-card:hover {
  transform: translateY(-5px);
}

.animal-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.animal-card-body {
  padding: 1rem;
}

.animal-card-body h3 {
  color: #4a0080;
  margin-bottom: 0.5rem;
}

.animal-card-body p {
  font-size: 0.9rem;
  color: #555;
}

.no-animales {
  text-align: center;
  color: #888;
  padding: 2rem;
}

.btn-adoptar {
  width: 100%;
  margin-top: 0.8rem;
  background: linear-gradient(135deg,  rgb(221, 126, 255), #cc00ff);
  color: white;
  border: none;
  padding: 0.6rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.95rem;
  transition: opacity 0.3s;
}

.btn-adoptar:hover {
  opacity: 0.85;
}